/* google fonts */
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&display=swap');

/* COMMON CSS*******************************/
* {
    font-family: "Poppins",Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}
body {
    width: 100%;
}
a {
    text-decoration:none;
}
.inner-container {
    width: 83vw;
    margin: 0 auto;
    /* outline: 1px solid yellow; */
}
@media only screen and (max-width:1199px) {
    .inner-container {
        width: 95vw;
    }
}
@media only screen and (max-width:719px) {
    .inner-container {
        width: 90vw;
    }
}

.fa-angle-down {
    font-size: .5em;
    margin-left: 5px;
    color: #898A91;
}
/* button css **************************************/
.btn-box button {
    color: white;
    background-color: rgba(19, 140, 237);
    padding: 16px 40px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 40px;
    border: 1px solid rgba(255,255,255, .3);
}
.btn-box button:hover {
    cursor:pointer;
}
.btn-box .btn2 {
    background-color: rgba(130, 144, 196, .2);
    margin-left: 10px;
}
.btn-box .btn1:hover {
    background-color: rgb(74, 161, 231);
}
.btn-box .btn2:hover {
    background-color: rgba(130, 144, 196, .4);
}
@media only screen and (max-width:719px) {
    .btn-box button {
        font-size: 1.2em;
        padding: 16px 30px;
    }
}

/* //COMMON CSS*******************************/

/* HEADER ************************************/
header {
    display: grid;
    grid-template-columns: 1fr 8fr 6fr;
    grid-template-rows: 72px;

    width: calc(100% - 32px);
    height: 72px;
    margin: 0 auto;
    padding-right: 12px;

    background-color: rgba(26, 32, 53, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 10px;

    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 999;
    
}
header a {
    color: #fff;
    text-decoration: none;
}

header>.mo-menu {
    display: none;
}

/* logo CSS**************/
header>.logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    padding-right: 4px;
    position: relative;
}
header>.logo>img {
    height: 38px;
    display: block;
}
header>.logo>img:first-child {
    position: absolute;
    opacity: 0;
    transition: .3s ease-in;
}
header>.logo:hover img:first-child {
    opacity: 1;
}


/* 메인메뉴 영역 *******************************************/
header > .menu {
    display: flex;
    align-items: center;
}
header > .menu h3 {
    font-weight: bold;
}

header > .menu h3, header > .menu h4 {
    font-size: 1.2em;
}
header > .menu > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
header > .menu> ul >li {
    height: 42px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
header > .menu> ul >li.more {
    border-radius: 10px;
    margin-left: 15px;
    background-color: rgba(255,255,255,.1);
}
header > .menu> ul >li>a {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 10px;
    transition: .4s;
}
header > .menu> ul >li>a:hover {
    background-color: rgba(255,255,255,.1);
}

/* 메인메뉴 > 서브 메뉴 CSS *********************************************/
header > .menu> ul> li> .sub-menu {
    display:block;
    display:none;
    width: 336px;
    /* opacity: 0; */
    padding: 12px;
    background-color: #171926;
    border-radius: 10px;
    position: absolute;
    top: 62px;
    transition: .8s;
}

header > .menu> ul> li> .sub-menu .g-type span {
    background-color: #1FB8FF;
    color: #171926;
    border-radius: 3px;
    font-size: .5em;
    font-weight: bold;
    padding: 1px 5px;
}

header > .menu> ul> li> .more {
    /* display: block; */
    padding-bottom: 30px;
}
/* 화면 크기 상태에 따라서 .more 메뉴 변화*/
header > .menu> ul> li> .more .overwatch {
    display:none;
}
header > .menu> ul> li> .more .starcraft {
    display:none;
}
header > .menu> ul> li> .more .event {
    display: none;
}

/* screen size별 메뉴 변화 */
@media only screen and (max-width:1383px) {
    header {
        grid-template-columns: 1fr 7fr 6fr;
    }
    header > .menu> ul> li.event {
        display: none;
    }
    header > .menu> ul> li> .more .event {
        display: block;
    }
}
@media only screen and (max-width:1291px){
    header {
        grid-template-columns: 1fr 6fr 7fr;
    }
    header > .menu>ul> li.starcraft {
        display:none
    }
    header > .menu> ul> li> .more .starcraft {
        display: block;
    }
}
@media only screen and (max-width:1132px){
    header {
        grid-template-columns: 1fr 4fr 6fr;
    }
    header > .menu>ul> li.overwatch {
        display:none
    }
    header > .menu> ul> li> .more .overwatch {
        display: block;
    }
}



/* 모든 게임 메뉴 CSS */
header > .menu> ul> li> .more .all-games {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    background-color: #0C94EC;
}

header > .menu> ul> li> .more .all-games a {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    width: 100%;
    height: 100%;
    font-size: .9em;
}
header > .menu> ul> li> .more .all-games a:hover {
    background-color: rgba(255,255,255,.2);
}

header > .menu> ul> li> .more .all-games a .squares-icon {
    display: grid;
    width: 22px;
    height: 22px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    margin-right: 10px;
}
header > .menu> ul> li> .more .all-games a .squares-icon .square {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 2px;
}


header > .menu>ul>li:hover .sub-menu {
    display:block;
    height: auto;
    opacity: 1;
}
header > .menu .sub-menu::before {
    display:block;
    content: "";
    width: 20px;
    height: 20px;
    transform: rotate(45deg) translateX(-12px);
    background-color: #171926;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
}
header>.menu .sub-menu>li {
    border-radius: 5px;
}
header>.menu .sub-menu>li:hover {
    background-color: rgba(255,255,255,.1)
}
header>.menu .sub-menu>li>a {
    padding: 12px;
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
}
header>.menu .sub-menu>li>a .sub-icon {
    width: 48px;
    margin-right: 10px;
}
header>.menu .sub-menu>li>a .g-type {
    font-size: .8em;
    color: #898A91;
    margin-top: 5px;
}


/* menu2 **********************************************************/
header > .menu2 {
    display: flex;
    align-items: center;
    justify-content: end;
}
header > .menu2 h3 {
    font-weight: bold;
    font-size: 1em;
}
header > .menu2 h4 {
    font-size: 1.2em;
}
header > .menu2 > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
header > .menu2 > ul >li {
    height: 42px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
header > .menu2> ul >li>a {
    display: flex;
    align-items: center;
    padding: 12px 14px;
    border-radius: 8px;
    transition: .4s;
}
header > .menu2> ul >li>a:hover {
    background-color: rgba(255,255,255,.1);
}

header > .menu2> ul >li.account>a>i {
    color: #A19AA2;
    margin-right: 8px;
}
/* menu2 sub-menu *******************************************/

header > .menu2> ul> li> .menu2_sub {
    display:block;
    display:none;
    width: 336px;
    /* opacity: 0; */
    padding: 12px;
    background-color: #171926;
    border-radius: 10px;
    position: absolute;
    top: 62px;
    transition: .8s;
}
header >.menu2> ul>li> .test {
    display: block;
}
header > .menu2> ul >li.account> .menu2_sub {
    width: 320px;
    padding-top: 26px;
}

header > .menu2>ul>li:hover .menu2_sub {
    display:block;
    height: auto;
    opacity: 1;
}
header > .menu2 .menu2_sub::before {
    display:block;
    content: "";
    width: 20px;
    height: 20px;
    transform: rotate(45deg) translateX(-12px);
    background-color: #171926;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
}
header>.menu2 .menu2_sub>li {
    border-radius: 5px;
}
header>.menu2 .menu2_sub>li:hover {
    background-color: rgba(255,255,255,.1)
}
header>.menu2 .menu2_sub>li>a {
    padding: 12px;
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
}
header>.menu2 .menu2_sub>li>a .sub-icon {
    display: flex;
    justify-content: center;
    width: 24px;
    margin-right: 15px;
    color: #898A91;
}
header>.menu2 .menu2_sub>li>a i {
    font-size: 1.3em;
}
header>.menu2 .menu2_sub>li>a>h4 {
    display: flex;
}
header>.menu2 .menu2_sub>li>a>h4>i {
    font-size: .5em;
    margin-left: 3px;
    color: #898A91;
    transform: rotate(45deg);
}

header > .menu2> ul> li> .menu2_sub>li>a>h4>span {
    background-color: #1FB8FF;
    color: #171926;
    border-radius: 3px;
    font-size: .7em;
    font-weight: bold;
    padding: 2px 3px;
    margin-left: 10px;
}
/* account CSS **********************/
header > .menu2> ul> li.account> .menu2_sub>li>a>i {
    color: #898A91;
    margin-right: 10px;
}

/* login 메뉴 CSS */
header > .menu2> ul> li> .menu2_sub> .login {
    background-color: #0C94EC;
    margin-bottom: 26px;
}
header > .menu2> ul> li> .menu2_sub> .login a {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: .8em;
}
header > .menu2> ul> li> .menu2_sub> .login a:hover {
    background-color: rgba(255,255,255,.2);
}
header > .menu2> ul> li> .menu2_sub> .login a img {
    width: 22px;
    margin-right: 10px;
}
/* 다운로드 버튼 CSS *****************************/
header .menu2 .download a {
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: black;
    margin-left: 15px;
}
header .menu2 .download a:hover {
    background-color: black;
}
header .menu2 .download a img {
    height: 22px;
    margin-right: 10px;
}

/* //HEADER ************************************/

@media only screen and (max-width:1010px) {
    header {
        /* grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 56px; */
        display:flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100vw;
        height: 56px;
        padding: 0;
        box-sizing: border-box;
        border-radius: 0;
        top: 0;
        left: 0;
    }
    header>.mo-menu {
        display: block;
    }

    header>.mo-menu>.hamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
    }
    header>.mo-menu>.hamburger-menu:hover+.menu-box {
        left: 0;
    }
    header>.mo-menu>.hamburger-menu i {
        font-size: 20px;
    }

    header>.mo-menu {
        position: relative;
    }


    /* hamburger-menu menu CSS */
    
    header>.mo-menu>.menu-box {
        width: 480px;
        height: 100vh;
        overflow: auto;
        /* background-color: #171926; */
        background-color: #10111B;
        position: absolute;
        top: 0;
        left: -1000%;
        z-index: 999999;
        transition: .5s ease in;
    }
    /* menu-top */
    header>.mo-menu>.menu-box>.menu-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        height: 56px;
        background-color: #171926; 
    }
    header>.mo-menu>.menu-box>.menu-top .close-menu {
        height: 36px;
        width: 36px;
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: rgba(255,255,255,.05);
    }
    header>.mo-menu>.menu-box>.menu-top .close-menu:hover {
        background-color: rgba(255,255,255,.1);
    }
    header>.mo-menu>.menu-box>.menu-top .close-menu i {
        font-size: 22px;
    }
    header>.mo-menu>.menu-box>.menu-top .logo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header>.mo-menu>.menu-box>.menu-top>.logo>img {
        position: absolute;
        display: block;
        width: 70px;
    }
    /* menu */
    header>.mo-menu>.menu-box>.menu {
        display: flex;
        flex-direction: column;
    }
    header>.mo-menu>.menu-box>.menu>.menu1 {
        background-color: #171926;
        padding-top: 16px;
    }
    header>.mo-menu>.menu-box>.menu>ul>li {
        padding: 0 10px;
    }
    header>.mo-menu>.menu-box>.menu>ul>li>a {
        display: flex;
        padding: 16px 10px;
        border-radius: 5px;
    }
    header>.mo-menu>.menu-box>.menu>ul>li>a:hover {
        background-color: rgba(255,255,255,.1);
    }
    header>.mo-menu>.menu-box>.menu>ul>li>a h3 {
        font-size: 1.1em;
        font-weight: bold;
    }
    header>.mo-menu>.menu-box>.menu>ul>li>a .fa-angle-down {
        display: flex;
        align-items: end;
        margin-left: 8px;
        padding-bottom: 3px;
        transition: .2s;
        
    }
    header>.mo-menu>.menu-box>.menu>ul>li>a .fa-angle-down.active {
        transform: rotate(180deg);
    }

    /* sub-menu */
    header>.mo-menu>.menu-box>.menu .sub-menu{
        display: none;
        background-color: #10111B;
    }
    header>.mo-menu>.menu-box>.menu .sub-menu>li>a, .mo-menu>.menu-box>.menu .heroes>a{
        display: flex;
        align-items: center;
        padding: 12px 10px;
        border-radius: 5px;
    }
    .mo-menu>.menu-box>.menu .heroes>a {
        font-weight: bold;
    }
    
    header>.mo-menu>.menu-box>.menu .sub-menu>li>a:hover,  .mo-menu>.menu-box>.menu .heroes>a:hover{
        background-color: rgba(255,255,255,.1);
    }
    header>.mo-menu>.menu-box>.menu .sub-menu>li>a .sub-icon,  .mo-menu>.menu-box>.menu .heroes>a .sub-icon {
        width: 48px;
        margin-right: 10px;       
    }
    header>.mo-menu>.menu-box>.menu .sub-menu>li>a .g-title, .mo-menu>.menu-box>.menu .heroes>a .g-title{
        font-size: 1.1em;
    }
    header>.mo-menu>.menu-box>.menu .sub-menu>li>a .g-type, .mo-menu>.menu-box>.menu .heroes>a .g-type {
        font-size: .8em;
        color: #898A91;
        margin-top: 10px;
    }
    header>.mo-menu>.menu-box>.menu .sub-menu>li>a .g-type>span {
        background-color: #1FB8FF;
        color: #171926;
        border-radius: 3px;
        font-size: .2em;
        font-weight: bold;
        padding: 1px 2px;
        margin-left: 10px;
    }
    /* mo 모든 게임 메뉴 */
    header>.mo-menu>.menu-box>.menu .all-games {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 50px;
        padding: 0 20px;
    }
    header>.mo-menu>.menu-box>.menu .all-games a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0px;
        width: 100%;
        height: 100%;
        font-size: 1em;
        font-weight: bold;
        background-color: #0C94EC;
    }
    header>.mo-menu>.menu-box>.menu .all-games a:hover {
        background-color: #41a6e8;
    }
    header>.mo-menu>.menu-box>.menu .all-games a .squares-icon {
        display: grid;
        width: 22px;
        height: 22px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2px;
        margin-right: 10px;
    }
    header>.mo-menu>.menu-box>.menu .all-games a .squares-icon .square {
        width: 100%;
        height: 100%;
        border: 2px solid white;
        border-radius: 2px;
    }

    /* info */
    header>.mo-menu>.menu-box>.menu .info {
        /* background-color: #10111B; */
        padding-top: 30px;
        padding-bottom: 80px;
    }
    header>.mo-menu>.menu-box>.menu .info h3 {
        font-size: .9em;
        color: #ccc;
        margin-bottom: 14px;
        padding-left: 10px;
    }
    header>.mo-menu>.menu-box>.menu .info .menu2_sub li {
        padding: 0 10px;
    }
    header>.mo-menu>.menu-box>.menu .info .menu2_sub a {
        display: flex;
        padding: 12px 10px;
        border-radius: 5px;
    }
    header>.mo-menu>.menu-box>.menu .info .menu2_sub a:hover {
        background-color: rgba(255,255,255,.1);
    }
    header>.mo-menu>.menu-box>.menu .info .menu2_sub .sub-icon {
        width: 26px;
        font-size: 20px;
        color: #8E8E93;
        margin-right: 10px;
    }
    header>.mo-menu>.menu-box>.menu .info .menu2_sub>li>a h4 {
        font-size: 1.1em;
        display: flex;
    }
    header>.mo-menu>.menu-box>.menu .info .menu2_sub>li>a h4>i {
        font-size: .5em;
        margin-left: 3px;
        color: #898A91;
        transform: rotate(45deg);
    }

    /* //hamburger-menu menu CSS */
    
    header>.logo>img {
        height: 26px;
    }
    header>.menu2>ul>li{
        display: none;
    }
    header>.menu2>ul>li.account{
        display: block;
        width: 56px;
        height: 56px;
        padding: none;
        margin: none;
    }
    header>.menu2>ul>li.account a > h3, header>.menu2>ul>li.account a>i.fa-solid {
        display: none;
    }
    header>.menu2>ul>li.account a {
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: none;
        padding: 0;
    }
    header>.menu2>ul>li.account a>i.fa-regular {
        color: #fff;
        font-size: 20px;
        margin: 0;
    }
    header > .menu2>ul>li:hover .menu2_sub {
        display:none;
    }

    header>.menu {
        display: none;
    }
}



/* .container1 */
.container1 {
    position: relative;
    background-image: url('../images/bgpc_1.jpg');
    background-color: rgba(255,255,255,.3);
    background-size: auto;
    background-position: top;

    box-shadow: 3px 2px 20px #222;
    z-index: 3;
}

/* main *****************************************/
main {
    width: 100%;
    padding-bottom: 70px;
    overflow: hidden;
}
main .inner-container {
    width: 85vw;
    height: 720px;
    position: relative;
}
main .slide-wrapper {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    height: 100%;
    width: 600%;

    position: absolute;
    top: 0;
    left: -100%;
    /* outline: 1px solid yellow; */
}
main .slide-wrapper .slide {
    width: 100%;
    height: 100%;
    padding: 0 12px;
    opacity: .5;
    transition: .5s;
}
main .slide-wrapper .slide.active {
    opacity: 1;
}
main .slide-wrapper .slide:hover {
    opacity: 1;
}
main .slide-wrapper>.slide>a {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    background-size:cover;
    text-decoration: none;
    color: #fff;
    box-shadow: 1px 2px 10px black;
}
main .slide-wrapper>.slide>a>.text>h2 {
    font-size: 3.8em;
    font-weight: bold;
    line-height: 1.1;
}
/* slide CSS ********************************/
/* diablo4 */
main .slide-wrapper>.diablo4>a {
    background-image: url('../images/main_diablo_4_pc.jpg');
    background-position: center;
}
main .slide-wrapper>.diablo4>a {
    padding-top: 150px;
}
main .slide-wrapper>.diablo4>a .slide-logo{
    width: 300px;
    margin-bottom: 20px;
}
main .slide-wrapper>.diablo4>a .text {
    margin-bottom: 40px;
}
main .slide-wrapper>.diablo4>a .btn-box {
    width: 100%;
}

/* overwatch2 */
main .slide-wrapper>.overwatch2>a {
    background-image: url('../images/main_overwatch_pc.jpg');
    background-position: right;
    padding-top: 120px;
}

main .slide-wrapper>.overwatch2>a .slide-logo {
    width: 230px;
    margin-bottom: 10px;
}
main .slide-wrapper>.overwatch2>a .text{
    margin-bottom: 30px;
}

/* blizzcon */
main .slide-wrapper>.blizzcon>a {
    background-image: url('../images/main_blizzcon_pc.jpg');
    background-position: center;
    padding-top: 140px;
}
main .slide-wrapper>.blizzcon>a .slide-logo {
    width: 280px;
    margin-bottom: 20px;
}
main .slide-wrapper>.blizzcon>a .text{
    text-shadow: 1px 3px 4px #666;
    margin-bottom: 60px;
}
main .slide-wrapper>.blizzcon>a .text h2 {
    margin-bottom: 30px;
}
main .slide-wrapper>.blizzcon>a .text>p{
    font-size: 1.4em;
    opacity: .8;
}
 
/* wow classic */
main .slide-wrapper>.wow-classic>a {
    background-image: url('../images/main_wow_pc.jpg');
    background-position: right;
    padding-top: 160px;
}
main .slide-wrapper>.wow-classic>a .slide-logo {
    width: 340px;
    margin-bottom: 20px;
}
main .slide-wrapper>.wow-classic>a .text{
    text-shadow: 1px 3px 4px #333;
    letter-spacing: -2px;
    margin-bottom: 50px;
}

/* rumble */
main .slide-wrapper>.rumble>a {
    background-image: url('../images/main_warcraft_rumble_pc.jpg');
    background-position: right;
    padding-top: 140px;
}
main .slide-wrapper>.rumble>a .slide-logo{
    width: 340px;
    margin-bottom: 20px;
}
main .slide-wrapper>.rumble>a .text {
    text-shadow: 1px 3px 4px #666;
    letter-spacing: -4px;
    margin-bottom: 40px;
}
main .slide-wrapper>.rumble>a .text h2 br:last-child {
    display: none;
}

/* immortal */
main .slide-wrapper>.immortal>a {
    background-image: url('../images/main_diablo_immotal_pc.jpg');
    background-position: right;
    padding-top: 120px;
}
main .slide-wrapper>.immortal>a .slide-logo {
    width: 340px;
    margin-bottom: 20px;
}
main .slide-wrapper>.immortal>a .text {
    margin-bottom: 40px;
}
main .slide-wrapper>.immortal>a .text p {
    font-size: 1.4em;
    font-weight: 600;
    color: #D0D0CE;
    line-height: 1.4;
    margin-top: 30px;
}

/* slide 화살표 *************************/
main .arr-btn {
    position: relative;
    top: 54%;
}
main .arr-btn a {
    width: 60px;
    height: 60px;
    text-decoration: none;
    border-radius: 100%;
    background-color:#333B4B;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}
main .arr-btn a:hover {
    background-color: #484F5D;
}
main .arr-btn .prev {
    left: -30px;
}
main .arr-btn .next {
    right: -30px;
}
main .arr-btn a i {
    color: #fff;
    font-size: 1.2em;
}

/* 페이지네이션 **********************************/
main .pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 30px;
}
main .pagination ul {
    width: 80%;
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 16px;
    gap: 20px;
}
main .pagination ul li {
    display: flex;
    align-items: center;
}
main .pagination ul li:hover a{
    background-color: white;
}
main .pagination ul li a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #8697AA;
    border-radius: 4px;
    height: 12px;
}
main .pagination ul li.active a {
    height: 100%;
    background-color: white;
    border-radius: 5px;
}
/* //main ***************************************/
@media only screen and (max-width:1199px) {
    main .inner-container {
        width: 94vw;
    }
    main .slide-wrapper .slide {
        padding: 0 6px;
    }
    main .slide-wrapper>.slide>a {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: 0;
        background-size: cover;
        background-position: center;
        text-decoration: none;
        color: #fff;
        box-shadow: 1px 2px 10px black;
    }
    main .slide-wrapper>.slide>a>.text>h2 {
        font-size: 2.8em;
        font-weight: bold;
        line-height: 1.1;
    }


    /* diablo4 */
    main .slide-wrapper>.diablo4>a {
        background-image:url('../images/main_diablo_4_mo.jpg');
        padding-top: 160px;
    }

    main .slide-wrapper>.diablo4>a h2 br {
        display: none;
    }
    main .slide-wrapper>.diablo4>a .btn-box {
        display: flex;
        justify-content: center;
    }

    /* overwatch2 */
    main .slide-wrapper>.overwatch2>a {
        background-image: url('../images/main_overwatch_mo.jpg');
        padding-top: 130px;

    }
    main .slide-wrapper>.overwatch2>a .text {
        margin-bottom: 40px;
    }
    main .slide-wrapper>.overwatch2>a h2 br {
        display: none;
    }

    /* blizzcon */
    main .slide-wrapper>.blizzcon>a {
        background-image: url('../images/main_blizzcon_mo.jpg');
        padding-top: 130px;
    }
    main .slide-wrapper>.blizzcon>a .text {
        margin-bottom : 46px;
    }
    main .slide-wrapper>.blizzcon>a .text p {
        text-align: center;
    }
    /* wow classic */
    main .slide-wrapper>.wow-classic>a {
        background-image:url('../images/main_wow_mo.jpg');
        padding-top: 170px;
    }
    main .slide-wrapper>.wow-classic>a .text{
        margin-bottom: 40px;
    }
    main .slide-wrapper>.wow-classic>a .text h2 br {
        display: none;
    }
    /* rumble */
    main .slide-wrapper>.rumble>a {
        background-image:url('../images/main_warcraft_rumble_mo.jpg');
    }
    main .slide-wrapper>.rumble>a .text {
        text-align: center;
    }
    main .slide-wrapper>.rumble>a .text h2 br:first-child {
        display: none;
    }
    main .slide-wrapper>.rumble>a .text h2 br:last-child {
        display: block;
    }
    /* immortal */
    main .slide-wrapper>.immortal>a {
        background-image: url('../images/main_diablo_immotal_mo.jpg');
        padding-top: 140px;
    }
    main .slide-wrapper>.immortal>a .text {
        text-align: center;
    }
    main .slide-wrapper>.immortal>a .text br {
        display: none;
    }
    main .arr-btn {
        display: none;
    }
}
@media only screen and (max-width:719px) {
    main .inner-container {
        width: 100vw;
        height: 480px;
    }
    main .slide-wrapper .slide {
        padding: 0;
    }
    main .slide-wrapper>.slide>a>.text>h2 {
        font-size: 1.8em;
    }

    /* diablo4 */
    main .slide-wrapper>.diablo4>a {
        padding-top: 160px;
    }
    main .slide-wrapper>.diablo4>a .slide-logo {
        width: 170px;
    }
    main .slide-wrapper>.diablo4>a .btn-box .btn2 {
        display: none;
    }

    /* overwatch2 */
    main .slide-wrapper>.overwatch2>a {
        padding-top: 110px;

    }
    main .slide-wrapper>.overwatch2>a .slide-logo {
        width: 140px;
        margin-bottom: 20px;
    }
    main .slide-wrapper>.overwatch2>a .text {
        margin-bottom: 40px;
    }

    /* blizzcon */
    main .slide-wrapper>.blizzcon>a {
        padding-top: 160px;
    }
    main .slide-wrapper>.blizzcon>a .slide-logo {
        width: 150px;
    }
    main .slide-wrapper>.blizzcon>a .text {
        margin-bottom : 10px;
    }
    main .slide-wrapper>.blizzcon>a .text p {
        display:none;
    }
    main .slide-wrapper>.blizzcon>a .btn-box .btn2 {
        display: none;
    }
    /* wow classic */
    main .slide-wrapper>.wow-classic>a {
        padding-top: 190px;
        background-position: top;
    }
    main .slide-wrapper>.wow-classic>a .slide-logo {
        width: 200px;
    }
    main .slide-wrapper>.wow-classic>a .text{
        margin-bottom: 30px;
    }

    /* rumble */
    main .slide-wrapper>.rumble>a {
        padding-top: 150px;
    }
    main .slide-wrapper>.rumble>a .slide-logo {
        width: 180px;
    }
    main .slide-wrapper>.rumble>a .text {
        text-align: center;
        margin-bottom: 30px;
    }

    /* immortal */
    main .slide-wrapper>.immortal>a {
        padding-top: 170px;
        background-position: top;
    }
    main .slide-wrapper>.immortal>a .slide-logo {
        width: 180px;
    }
    main .slide-wrapper>.immortal>a .text {
        text-align: center;
    }
    main .slide-wrapper>.immortal>a .text p {
        display: none;
    }
    main .pagination {
        bottom: 10px;
    }

}

/* 추천게임 */
.container1 .recomm {
    padding-bottom: 80px;
    overflow: hidden;
}
/* 제목 영역 */
.recomm .section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}
.recomm .section-title h2{
    font-size: 2.2em;
    font-weight: bold;
    color: #ddd;
}
.recomm .section-title .playable {
    display: flex;
}
.recomm .section-title .playable li {
    margin-left: 10px;
}
.recomm .section-title .playable li a {
    display: block;
    padding: 8px 22px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;

    background-color: rgba(255,255,255, .2);
    border-radius: 20px;
}
.recomm .section-title .playable li a:hover {
    background-color: rgba(255,255,255, .4);
}

/* //추천게임 */
/*  GRID AREA : GAME LIST ***************/
.recomm .game-list {
    display:grid;
    width: 100%;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    margin-bottom: 80px;
}
.recomm .game-list>li {
    width: 100%;
    /* outline: 1px solid red; */
}
.recomm .game-list>li>a {
    display: block;
    height: 100%;
    text-decoration: none;
    /* outline: 3px solid pink; */
}
.recomm .game-list>li>a .multi-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 5px;
    transition: .3s ease-in;
}
.recomm .game-list>li:hover>a .multi-box {
    transform: scale(1.05);
}

/* poster images ************************/
/* rumble */
.recomm .game-list>li.rumble>a .multi-box {
    background-image: url('../images/g-img/warcraft_rumble.jpg');
    background-size: auto 100%;
    background-position: top;
}
/* diablo4 */
.recomm .game-list>li.diablo4>a .multi-box {
    background-image: url('../images/g-img/diablo4.jpg');
}
/* wow */
.recomm .game-list>li.wow>a .multi-box {
    background-image: url('../images/g-img/wow.jpg');
}
/* overwatch2 */
.recomm .game-list>li.overwatch2>a .multi-box {
    background-image: url('../images/g-img/overwatch2.jpg');
}
/* hearthstone */
.recomm .game-list>li.hearthstone>a .multi-box {
    background-image: url('../images/g-img/hearthstone.jpg');
}
/* wow-classic */
.recomm .game-list>li.wow-classic>a .multi-box {
    background-image: url('../images/g-img/wow_classic.jpg');
}
/* immortal */
.recomm .game-list>li.immortal>a .multi-box {
    background-image: url('../images/g-img/diablo_immortal.jpg');
}
/* diablo2 */
.recomm .game-list>li.diablo2>a .multi-box {
    background-image: url('../images/g-img/diablo2.jpg');
}
/* warcraft3 */
.recomm .game-list>li.warcraft3>a .multi-box {
    background-image: url('../images/g-img/warcraft3.jpg');
}
/* starcraft2 */
.recomm .game-list>li.starcraft2>a .multi-box {
    background-image: url('../images/g-img/starcraft2.jpg');
}

.recomm .game-list>li>a .multi-box img {
    width: 100%;
}

.recomm .game-list>li>a .multi-box .comming-soon {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    border: 3px solid white;
    background-color: black;
    color: white;
    font-size: .8em;
    font-weight: bold;

}
.game-list>li>a .multi-box video {
    display: none;
    width: 100%;
    position:absolute;
    top: 0;
    z-index: 3;
}
.game-list>li:hover>a .multi-box video {
    display: block;
}

.game-list>li>a .g-logo {
    position: relative;
    z-index: 4;
}
.recomm .game-list>li>a .multi-box .poster {
    position: absolute;
}

/* .recomm .game-list>li.rumble>a .multi-box .poster {
    display:none;
} */

.recomm .game-list>li>a .g-title{
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
.recomm .game-list>li>a .type{
    color: #8598AC;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: -1.4px;
    margin-bottom: 10px;
}
.recomm .game-list>li>a .downloadable {
    display: flex;
    align-items: center;
    height: 27px;
}
.recomm .game-list>li>a .downloadable li {
    margin-right: 15px;
}
.recomm .game-list>li>a .downloadable li img {
    height: 20px;
}
.recomm .game-list>li>a .downloadable li i {
    color: #8598AC;
    font-size: 20px;
}

.recomm .btn-box {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:1280px) {
    .recomm .game-list {
        grid-template-columns: repeat(4,1fr);
        gap: 30px 15px;
    }
    .recomm .game-list>li>a>.g-title {
        letter-spacing: -1.8px;
    }
}
@media only screen and (max-width:1010px) {
    main {
        padding-bottom: 40px;
    }
    .container1 {
        background-image: url('../images/bgmo_1.jpg');
        background-size: auto;
        background-position: top;
    }
    .container2 {
        background-image: url('../images/bgmo_2.jpg');
        background-size: auto;
        background-position: top;
    }

    .recomm .game-list {
        grid-template-columns: repeat(3,1fr);
        margin-bottom: 50px;
    }
    .recomm .section-title {
        display: flex;
        flex-direction: column;
    }
    .recomm .section-title h2 {
        margin-bottom: 40px;
    }
    .recomm .section-title .playable li:first-child {
        margin-left: 0;
    }
}
@media only screen and (max-width:719px) {
    main {
        padding-bottom: 40px;
    }
    .container1 {
        background-image: url('../images/bgmo_1_1.jpg');
        background-size: auto;
    }
    .container2 {
        background-image: url('../images/bgmo_2_1.jpg');
        background-size: auto;
        background-position: top;
    }
    .recomm .section-title {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .recomm .section-title h2 {
        font-size: 1.6em;
        margin-bottom: 30px;
    }
    .recomm .game-list {
        width: 240%;
        grid-template-columns: repeat(5,1fr);
        margin-bottom: 50px;
    }
    .recomm .game-list>li>a>.multi-box {
        padding-top: 100%;
    }
    .recomm .game-list>li>a>.multi-box>.g-logo {
        position: absolute;
        bottom: 0;
    }
    .recomm .game-list>li>a>.g-title {
        font-size: 1em;
    }

}

/* container2 ****************************************************/
.container2 {
    width: 100%;
    padding: 80px 0;
    background-image: url('../images/bgpc_2.jpg');
    background-size: auto;
    background-position: top left;

}
/* .banner **********************************************/
.banner>.inner-container {
    background-image:url('../images/bg_section2_pc.jpg');
    background-size: auto 100%;
    background-position: center;
    border-radius: 10px;
    box-shadow: 2px 3px 10px #111;
}
.banner>.inner-container>.banner-box {
    display: block;
    height: 640px;
    padding-left: 10%;
    padding-top: 120px;
    
}
.banner>.inner-container>.banner-box .text {
    margin-bottom: 40px;
}
.banner>.inner-container>.banner-box .text h2 {
    font-size: 3.6em;
    font-weight: bold;
    color: #eee;
    line-height: 1.2;
    margin-bottom: 20px;
}
.banner>.inner-container>.banner-box .text p {
    font-size: 1.5em;
    letter-spacing: -1.5px;
    color: #bbb;
}
@media only screen and (max-width:1199px) {
    .banner>.inner-container {
        background-image:url('../images/bg_section2_mo.jpg');
        background-size: cover;
    }
    .banner>.inner-container>.banner-box {
        padding-left: 0;
        padding-top: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner>.inner-container>.banner-box .banner-logo {
        width: 340px;
        margin-bottom: 30px;
    }
    .banner>.inner-container>.banner-box .text {
        text-align: center;
        margin-bottom: 60px;
    }
    .banner>.inner-container>.banner-box .text h2 {
        font-size: 3em;
        margin-bottom: 30px;
    }
    .banner>.inner-container>.banner-box .text h2 br {
        display: none;
    }
}
@media only screen and (max-width:719px) {
    .banner>.inner-container>.banner-box {
        padding-top: 80px;
        max-height: 420px;
    }
    .banner>.inner-container>.banner-box .banner-logo {
        width: 260px;
        margin-bottom: 30px;
    }
    .banner>.inner-container>.banner-box .text {
        margin-bottom: 30px;
    }
    .banner>.inner-container>.banner-box .text h2  {
        font-size: 2em;
        margin-bottom: 16px;
    }
    .banner>.inner-container>.banner-box .text p {
        font-size: 1.2em;
    }
        
}



/* footer **********************************/
footer {
    background-color: #171717;
    color: #ddd;
    padding-top: 30px;
    padding-bottom: 100px;
}

/* language */
footer .language a{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: #ccc;
    text-decoration: none;
    height: 20px;
}
footer .language a> i {
    font-size: 1.2em;
    margin-right: 8px;
    color: #009DFF;
}
footer .language a:hover {
    color: #eee;
}
footer .language a:hover> i {
    color: #66C4FF;
}

footer .language a> .sel-icon {
    display: flex;
    flex-direction: column;
    flex-basis:top;
    margin-left: 8px;
    flex-wrap: wrap;
    height: 14px;
    align-self: flex-start;
}
footer .language a> .sel-icon i {
    font-size: .1em;
    height: 50%;
    color: #ccc;
    margin: 0;
}

/* f-logo */
footer .f-logo {
    width: 122px;
    margin: 0 auto;
    margin-bottom: 30px;
}
footer .f-logo .logo {
    width: 100%;
    position: relative;
    text-decoration: none;
    color: #fff;
}
footer .f-logo .logo img {
    width: 100%;
}
footer .f-logo .logo img:first-child {
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: .4s ease-in-out;
}
footer .f-logo:hover .logo img:first-child{
    opacity: 1;
}
footer .f-logo p {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer .f-logo p span {
    font-size: .2em;
}

/* f-menu */
footer .f-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
footer .f-menu li {
    padding: 0 10px;
    position: relative;
    line-height: 1.6;
}
footer .f-menu li::after {
    display:block;
    content: "";
    height: 70%;
    position: absolute;
    top: 20%;
    right: 0;
    border-right: 1px solid #ccc;
}
footer .f-menu li:last-child::after {
    display: none;
}
footer .f-menu li a {
    color: #ccc;
    text-decoration: none;
    transition: .2s ease-in;
}
footer .f-menu li a:hover {
    color: #eee;
}

/* app-txt */
footer .app-txt {
    display: flex;
    justify-content: center;
    color: #bbb;
    margin-bottom: 40px;
}
footer .app-txt img {
    margin-left: 8px;
    margin-right: 5px;
    width: 16px;
}
footer .app-txt a {
    color: #009DFF;
    transition: .3s ease-in;
}
footer .app-txt a:hover {
    color: #66C4FF;
}

/* .copyright */
footer .copyright {
    margin-bottom: 30px;
}
footer .copyright .txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    line-height: 1.3;
    font-size: .8em;
    letter-spacing: -.8px;
    color: #6D6D6D;
}
footer .copyright .txt a {
    margin-left: 5px;
    color: #ccc;
    transition: .3s ease-in;
}
footer .copyright .txt a:hover {
    color:#eee;
}
footer .copyright .policy-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer .copyright .policy-menu li {
    padding: 0 10px;
    position: relative;
    line-height: 1.4;
}
footer .copyright .policy-menu li::after {
    display:block;
    content: "";
    height: 70%;
    position: absolute;
    top: 20%;
    right: 0;
    border-right: 1px solid #ccc;
}
footer .copyright .policy-menu li:last-child::after {
    display: none;
}
footer .copyright .policy-menu li a {
    color: #ccc;
    font-size: .8em;
    text-decoration: none;
    transition: .2s ease-in;
}
footer .copyright .policy-menu li a:hover {
    color: #eee;
}
/* .company-info */
footer .company-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .7em;
    line-height: 1.4;
    color: #aaa;
}
footer .company-info p a {
    text-decoration: none;
    color: #aaa;
    font-weight: bold;
    transition: .3s ease-in;
}
footer .company-info p a:hover {
    color: #eee;
}